{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1>Home</h1><br>
<a href="new-question/" >post a poll</a>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <hr>
        <small>tags:
            {% for tag in question.tags.all %}
            <a href="{% url 'polls:tagged' tag.id %}">{{tag.name}}</a>, 
            {% endfor %}
        </small>
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
