{% load static %}
<h1>Add a question</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/polls/add_question" method="post">
    {% csrf_token %}
        <div id="tag">
            <label for="tag1">Tag</label><br>
            <input type="text" name="tag1" id="tag1" class="tag" > <br>
        </div>
        <button onclick=addTag() type="button">Add Tag</button><br>
        <label for="question">Question</label><br>
        <input type="text" name="question" id="question" > 
        <div id="choices">
            <label for="choice1">Choice 1</label><br>
            <input type="text" id="choice1" name=choice1><br>
            <label for="choice2">Choice 2</label><br>
            <input type="text" id="choice2" name=choice2> 
        </div>

<input type="submit" value="Submit">
</form>
<script src="{% static 'polls/script.js' %}"></script>